{{ define "classTemplate" }}
{{- $depth := .Depth -}}
{{- $preDepth := GetPreDepth .Depth -}}
{{- range .Annotations}}
{{GetTab $preDepth}}{{.}}
{{- end }}
{{GetTab $preDepth}}public class {{.ClassName}} {
{{ range .MemberVariables }}
{{GetTab $depth}}@JsonProperty("{{.JsonName}}")
{{GetTab $depth}}protected {{GenJavaType .TypeName .MemberKind}} {{LowerFirst .Name}}_;
{{end}}

{{GetTab $depth}}public {{.ClassName}}(){

{{GetTab $depth}}}
    {{- range .MemberVariables}}
{{GetTab $depth}}public {{GenJavaType .TypeName .MemberKind}} get{{.Name}}(){
{{GetTab $depth}}    return {{LowerFirst .Name}}_;
{{GetTab $depth}}}

{{GetTab $depth}}public void set{{.Name}}_({{GenJavaType .TypeName .MemberKind}} {{LowerFirst .Name}}_){
{{GetTab $depth}}    this.{{LowerFirst .Name}}_ = {{LowerFirst .Name}}_;
{{GetTab $depth}}}
    {{ end }}

    {{ range .MemberClasses}}
        {{template "classTemplate" .}}
    {{ end}}
{{GetTab $preDepth}}}
{{ end }}
{{- template "classTemplate" . -}}