{{- $CloudName := Param "CloudName" -}}
package io.github.kubestack.client.api.specs.{{ToLower $CloudName}}.{{ToLower .Name}};p

import java.util.Date;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;

/**
 * @Description OpenstackServer Json
 * @Date {{Date}}
 * @Author guohao
 */