package {{param "packageName"}}
{{GetCodeHeader}}

{{$ResourcePackageName := .ResourcePackageName}}
{{$ResourceName := .ResourceName}}

import (
{{- range $Key, $Value := .ImportPaths}}
    "{{$Key}}"
{{- end}}
)

{{- range .Actions}}
//request struct for the {{.ActionName}}{{$ResourceName}}
type {{.ActionName}}{{$ResourceName}}Request struct{
{{- range .ActionParameters}}
    {{UpperFirst .Name}} {{.TypeName}}
{{- end}}
}

func New{{.ActionName}}{{$ResourceName}}Request()*{{.ActionName}}{{$ResourceName}}Request{
    return &{{.ActionName}}{{$ResourceName}}Request{}
}

//response struct for the {{.ActionName}}{{$ResourceName}}
type {{.ActionName}}{{$ResourceName}}Response struct{
{{- range .ActionReturns}}
    {{GenMemberName .TypeName}} {{.TypeName}}
{{- end}}
}

func New{{.ActionName}}{{$ResourceName}}Response({{- range .ActionReturns}}{{GenLocalVarName .TypeName}} {{.TypeName}},{{- end}})*{{.ActionName}}{{$ResourceName}}Response {
    return &{{.ActionName}}{{$ResourceName}}Response{
        {{- range .ActionReturns}}
            {{GenMemberName .TypeName}}:{{GenLocalVarName .TypeName}},
        {{- end}}
    }
}

// action function
func (oc *OpenstackClient) {{.ActionName}}{{$ResourceName}}(request *{{.ActionName}}{{$ResourceName}}Request)(*{{.ActionName}}{{$ResourceName}}Response){
    return New{{.ActionName}}{{$ResourceName}}Response({{$ResourcePackageName}}.{{.ActionName}}(oc.client,{{- range .ActionParameters}}request.{{UpperFirst .Name}},{{- end}} ))

}
{{- end}}