package {{Param "packageName"}}
{{GetCodeHeader}}

import (
{{- range .ImportPaths}}
    "{{.}}"
{{- end}}
)

var {{Param "kind"}}CreateRequestRegistry = map[string]interface{}{
{{- range .RequestInfos}}
	"{{.RequestName}}":{{.CreateFunctionName}},
{{- end}}
}
