package {{param "packageName"}}
{{GetCodeHeader}}

import (
{{- range .ImportPaths}}
    "{{.}}"
{{- end}}
)

var CreateRequestRegistry = map[string]interface{}{
{{- range .RequestInfos}}
	"{{.RequestName}}":{{.CreateFunctionName}},
{{- end}}
}
