package {{param "packageName"}}
import (
{{- range .importPaths}}
    "{{.}}"
{{- end}}
)

var CreateRequestRegistry = map[string]interface{}{
{{- range .requestInfos}}
	"{{.RequestName}}":{{.CreateFunctionName}},
{{- end}}
}
