package {{param "packageName"}}
import (
{{- range .importPaths}}
    "{{.}}"
{{- end}}
)
{{- range .ActionInfo}}
func (oc *OpenstackClient) {{.ActionName}}{{.ResourceName}}(){
    return {{.ResourceName}}.{{.ActionName}}(oc.ServiceClient, )
}
{{- end}}
